:host {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
    padding: 0.5em;
  
    .widget {
      border: 1px solid black;
      padding: 0.5em;
      cursor: pointer;
  
      &.highlighted{
        background-color: rgba(0, 0, 255, 0.2);
      }
    }
  }