/*demo*/
::ng-deep body {
  background-color: #ccc;
}

.d-flex {
  display: flex;
}
.m-10 {
  margin: 10px;
}
.w-20-percent {
  width: 20%;
}
.w-30-percent {
  width: 30%;
}
.w-50-percent {
  width: 50%;
}
.w-100-percent {
  width: 100%;
}
.h-500 {
  height: 500px;
}

::ng-deep .output {
  overflow: auto;
  background-color: #fff;
  margin: 0;

  .string {
    color: green;
  }
  .number {
    color: darkorange;
  }
  .boolean {
    color: blue;
  }
  .null {
    color: magenta;
  }
  .key {
    color: red;
  }
}

// table {
//   width: 100%;
  
// }
.bottom-item{
  width: 50%;
  margin: 0 auto;
}
.example-container {
  height: 580px;
  width: 300px;
  overflow: auto;
}
.mt-10{
  margin-top: 10px;
}
.table-data{
  width: 98%;
  margin: 0 auto;
}


table td,
th {
  text-overflow: ellipsis;
  border: solid 1px rgb(191, 191, 191);
}
table tr {
  height: fit-content !important;
}

p {
  font-family: Lato;
}
.app-wrapper {
  background-color: var(--background);
  color: var(--text-color);
}