<div class="d-flex">
  <div class="w-20-percent">
    <div class="list-item" *ngFor="let item of itemDrags" draggable="true" (dragstart)="dragStart($event, item)"
      (dragend)="dragEnd($event)">
      <i [ngClass]="'fa ' + item.icon"></i>
      {{item.name}}
    </div>
  </div>

  <div class="page w-80-percent h-500 m-10" [class.no-event]="designPageService.showShadow"
    (dragover)="dragOver($event)" (dragenter)="dragEnter($event)" (dragleave)="dragLeave($event)" (drop)="drop($event)"
    (mousemove)="mouseMove($event)" (mouseup)="mouseUp($event)" #page>
    <div class="item" [class.active]="item.active" *ngFor="let item of designPageService.items"
      [style.left.px]="item.position.x" [style.top.px]="item.position.y" [ngStyle]="item.style" [ngClass]="item.class">
      <div class="item-container" (mousedown)="mouseDown($event, item)">
        <div class="item-content" id="item-{{ item.id }}" [innerHTML]="createElement(item.element) | safe: 'html'"></div>
      </div>
      <div class="item-resize item-resize-top" (mousedown)="resizeTop($event, item)"></div>
      <div class="item-resize item-resize-top-right" (mousedown)="resizeTopRight($event, item)"></div>
      <div class="item-resize item-resize-right" (mousedown)="resizeRight($event, item)"></div>
      <div class="item-resize item-resize-bottom-right" (mousedown)="resizeBottomRight($event, item)"></div>
      <div class="item-resize item-resize-bottom" (mousedown)="resizeBottom($event, item)"></div>
      <div class="item-resize item-resize-bottom-left" (mousedown)="resizeBottomLeft($event, item)"></div>
      <div class="item-resize item-resize-left" (mousedown)="resizeLeft($event, item)"></div>
      <div class="item-resize item-resize-top-left" (mousedown)="resizeTopLeft($event, item)"></div>
    </div>
    <div class="item item-drag-placeholder" *ngIf="designPageService.itemSelect && designPageService.showShadow"
      [style.left.px]="designPageService.positionSelect.x" [style.top.px]="designPageService.positionSelect.y"
      [ngStyle]="designPageService.itemSelect.style">
      <div class="item-content">{{designPageService.itemSelect.name}}</div>
    </div>
  </div>
</div>