$rowCount: 12;
$colCount: 12;
$gapSize: 10px;
$validDropZoneColor: rgba(0, 255, 0, 0.2);
$invalidDropZoneColor: rgba(255, 0, 0, 0.2);
$widgetActiveColor: rgba(0, 0, 255, 0.2);
$trashActiveColor: rgba(255, 128, 128, 0.2);